<div id="links_index">
  <%= link_to(image_tag("add.png", alt: "Add"), new_link_path) %>
  <% @links.each do |link| %>
    <div class="link">
      <h3><%= link_to(link.description, link.link_url) %><%= link_to(image_tag("pencil.png", alt: "Edit"), link_path(link)) %></h3>

      <%= link_to "Up Vote", up_vote_path(link), data: {method: "post"} %> |
      <%= link_to "Down Vote", down_vote_path(link), data: {method: "post"} %>
      <p><%= "#{link.rank} #{"point".pluralize(link.rank)} by #{link.user}"%> | <%= link_to "#{link.comments.length} #{"comment".pluralize(link.comments.length)}", link_comments_path(link) %> </p>
    </div>
  <% end %>
</div>
